.defaultButtonStyle {
  padding: 0.13rem 0.26rem;
  color: #000;
  background-color: #d4d4d4;
  border-radius: 0.3rem;
  border: none;
  transition: 150ms;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:hover {
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  }

  &:active {
    box-shadow: inset 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  }
}
